@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}
/* Sayfa tasarımı */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0 0 3rem;
  min-height: 100vh;
}
/* Button tasarımı */
button {
  background-color: rebeccapurple;
  border: none;
  color: white;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;/* efekt */
}
button.active {
    transform: translateX(-100px);/* Görünürlük */
}
/* Menu Navbar(AçılırMenü) tasarımı */
nav {
  background-color: rebeccapurple;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 2rem;
  transform: translateX(100%);/* Görünürlük */
  transition: transform 0.3s ease-in-out;/* efekt */
}

nav.active {
    transform: translateX(0);/* Görünürlük */
}

nav ul {
  padding: 0;
  list-style-type: none;
  margin:0;

}

nav ul li {
  padding: 2rem 0;
}

nav a {
  color: white;
  text-decoration: none;
}
